a {
  text-decoration: none;
  color: #111;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.TeamInfo {
  display: none;
  position: fixed;
  top: 10%;
  width: 500px;
  height: 400px;
  margin-left: 5%;
  z-index: 100;
  background: white;
  border: 1px solid #ddd;
  transition: all 0.5s ease-in;
}